body {
  font-family: "Lucida Sans", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

#header {
  background-color: rgb(14, 172, 75);
  padding: 15px 10px 15px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgb(31, 225, 120);
}

.logo {
  color: rgb(226, 237, 183);
  font-size: 1.6em;
}

#content {
  padding-left: 75px;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu > li {
  display: inline;
  padding: 0 10px;
}

.menu > li > a {
  text-decoration: none;
  color: rgb(226, 237, 183);
}

.menu > .selected > a {
  color: rgb(28, 103, 47);
  font-weight: 600;
}

.user {
  color: white;
}

.user a {
  color: rgb(226, 237, 183);
  text-decoration: none;
}

#content {
  margin-top: 40px;
  width: 80%;
}

h1 {
  border-bottom: 2px solid rgb(169, 168, 168);
  padding-bottom: 8px;
}

p {
  margin: 25px 0;
}

#content p > a {
  color: rgb(14, 172, 75);
  text-decoration: none;
}

#id_username,
#id_password {
  display: block;
  background-color: rgb(234, 234, 234);
  border: 0;
  margin-top: 10px;
  height: 25px;
}

input[type="submit"] {
  background-color: rgb(14, 172, 75);
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
}
